
{#<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />#}
    {#</div>#}
{#</form>#}



<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {{ 'label.profile.edit' | trans }}
                </h4>
            </div>
            <div class="panel-body">

                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('intention') }}">

                    <table class="table table-hover table-responsive table-condensed">
                        <tr>
                            <td class="col-md-4">
                                {{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}
                            </td>

                            <td>
                                {{ form_widget(form.username, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}
                            </td>

                            <td>
                                {{ form_widget(form.email, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.invoice.prefix'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.invoiceNumberPrefix, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.payment.days'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.payment, { 'attr': {'class': 'col-xs-12'} })  }}
                                <span class="text-red">{{ form_errors(form.payment) }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ 'label.company.name'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.companyName, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.vatid'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.vatId, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.address.street'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.addressStreet, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.address.house'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.addressHouse, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.address.flat'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.addressFlat, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.address.zip'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.addressZip, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.address.city'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.addressCity, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.address.country'|trans }}
                            </td>

                            <td>
                                {{ form_widget(form.addressCountry, { 'attr': {'class': 'col-xs-12'} }) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'label.locale' | trans }}
                            </td>

                            <td>
                                {{ form_widget(form.locale) }}
                            </td>

                        </tr>

                        <tr>
                            <td colspan="2">
                                <hr>
                            </td>
                        </tr>

                        {# last row - current password#}
                        <tr>
                            <td>
                                {{ 'form.current_password'|trans({}, 'FOSUserBundle') }}
                            </td>

                            <td>
                                {{ form_widget(form.current_password, { 'attr': {'class': 'col-xs-6'} }) }}
                            </td>
                        </tr>

                    </table>

                <table class="table-button">
                    <tr>
                        <td>
                            <input class="btn btn-xs btn-info" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                        </td>
                        <td>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <button type="button" class="btn btn-xs btn-success">
                                        {{  'button.cancel' | trans }}
                                </button>
                            </a>

                        </td>
                    </tr>
                </table>
                {#</form>#}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
