{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoiceelement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoiceElement.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ invoiceElement.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ invoiceElement.amount }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ invoiceElement.unit }}</td>
            </tr>
            <tr>
                <th>Pricenet</th>
                <td>{{ invoiceElement.priceNet }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ invoiceElement.discount }}</td>
            </tr>
            <tr>
                <th>Pkwiucode</th>
                <td>{{ invoiceElement.pkwiuCode }}</td>
            </tr>
            <tr>
                <th>Vatrate</th>
                <td>{{ invoiceElement.vatRate }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoiceelement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('invoiceelement_edit', { 'id': invoiceElement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
