
<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {{ 'label.password.change' | trans }}
                </h4>
            </div>
            <div class="panel-body">

                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('intention') }}">

                    <table class="table table-hover table-responsive table-condensed">
                        <tr>
                            <td>
                                {{ 'form.current_password'|trans({}, 'FOSUserBundle') }}
                            </td>

                            <td>
                                {{ form_widget(form.current_password) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'form.new_password'|trans({}, 'FOSUserBundle') }}
                            </td>

                            <td>
                                {{ form_widget(form.new.first) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}
                            </td>
                            <td>
                                {{ form_widget(form.new.second) }}
                            </td>
                        </tr>
                        </table>

                    <table class="table-button">
                        <tr>
                            <td>
                                <input class="btn btn-xs btn-danger" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                            </td>
                            <td>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <button type="button" class="btn btn-xs btn-success">
                                        {{ 'button.cancel' | trans }}
                                    </button>
                                </a>

                            </td>
                        </tr>
                    </table>
                    {#</form>#}
                    {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
