{% extends 'base.html.twig' %}

{% block body %}

    {% include 'top_menu.html.twig' %}

<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {{ 'label.product.edit' | trans }}
                </h4>
            </div>
            <div class="panel-body">
                {{ form_start(edit_form) }}
                <table class="table table-hover table-responsive table-condensed">

                    <tr>
                        <th class="col-md-3">
                            {{ 'label.product.name' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.name, { 'attr': {'class': 'col-xs-12'} }) }}
                            <span class="text-red">{{ form_errors(edit_form.name) }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.product.code' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.code, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.product.unit' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.unit, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.product.pkwiu' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.pkwiuCode, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.product.price.net' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.priceNet, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.product.vat' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.vatRate, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.product.price.gross' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.priceGross, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>



                    <tr>
                        <th class="td-va-top">
                            {{ 'label.product.notes' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.notes, { 'attr': {'class': 'col-xs-12', 'rows' : 10 } }) }}
                        </td>
                    </tr>
                </table>
                <table class="table-button">
                    <tr>
                        <td>
                            <input class="btn btn-xs btn-info" type="submit" value="
                                    {{ 'button.edit.submit.change' | trans }}
                                "/>
                            {{ form_end(edit_form) }}
                        </td>
                        <td>
                            <a href="{{ path('product_index') }}">
                                <button type="button" class="btn btn-xs btn-success">
                                    {{ 'button.edit.list' | trans }}
                                </button>
                            </a>
                        </td>
                        <td>
                            {{ form_start(delete_form) }}
                            <input class="btn btn-xs btn-danger" type="submit" value="
                                    {{ 'button.edit.delete' | trans }}
                                ">
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
