{% extends 'base.html.twig' %}

{% block body %}

    {%  include 'top_menu.html.twig' %}

    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Pkwiu</th>
                <th>Pricenet</th>
                <th>Vat</th>
                <th>Pricegross</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.pkwiu }}</td>
                <td>{{ product.priceNet }}</td>
                <td>{{ product.vat }}</td>
                <td>{{ product.priceGross }}</td>
                <td>{{ product.notes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
