{% extends 'base.html.twig' %}

{% block body %}

    {% include 'top_menu.html.twig' %}

<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>

                    {{ 'label.client.edit' | trans }}

                </h4>
            </div>
            <div class="panel-body">
                {{ form_start(edit_form) }}
                <table class="table table-hover table-responsive table-condensed">
                    <tr>
                        <th class="col-md-3">
                            {{ 'label.client.name' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.clientName, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.company.name' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.companyName, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.vatid' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.vatId, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.address.street' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.addressStreet, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.address.house' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.addressHouse, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.address.flat' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.addressFlat, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.address.zip' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.addressZip, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.address.city' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.addressCity, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.address.country' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.addressCountry, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.contact.phone' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.contactPhone, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.contact.phone' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.contactPhone, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.contact.mobile' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.contactMobile, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.contact.fax' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.contactFax, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.contact.email' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.contactEmail, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'label.contact.www' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.contactWww, { 'attr': {'class': 'col-xs-12'} }) }}
                        </td>
                    </tr>
                    <tr>
                        <th class="td-va-top">
                            {{ 'label.client.notes' | trans }}
                        </th>
                        <td>
                            {{ form_widget(edit_form.notes, { 'attr': {'class': 'col-xs-12', 'rows' : 10 } }) }}
                        </td>
                    </tr>

                </table>
                <table class="table-button">
                    <tr>
                        <td>
                            <input class="btn btn-xs btn-info" type="submit" value="
                                    {{ 'button.edit.submit.change' | trans }}
                                "/>
                            {{ form_end(edit_form) }}
                        </td>
                        <td>
                            <a href="{{ path('client_index') }}">
                                <button type="button" class="btn btn-xs btn-success">
                                    {{ 'button.edit.list' | trans }}
                                </button>
                            </a>
                        </td>
                        <td>
                            {{ form_start(delete_form) }}
                            <input class="btn btn-xs btn-danger" type="submit" value="
                                    {{ 'button.edit.delete' | trans }}
                                ">
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
