{% extends 'base.html.twig' %}

{% block body %}

    {% include 'top_menu.html.twig' %}

<div class="row">
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>

                    {{ 'label.client.edit' | trans }}

                </h4>
            </div>
            <div class="panel-body">
                {{ form_start(edit_form) }}
                <table class="table table-hover table-responsive table-condensed">
                    <tr>
                        <th>
                            {{ 'label.client.name' | trans }}

                        </th>
                        <td>

                        </td>
                    </tr>

                </table>
                <table class="table-button">
                    <tr>
                        <td>
                            <input class="btn btn-xs btn-info" type="submit" value="
                                    {{ 'button.edit.submit.change' | trans }}
                                "/>
                            {{ form_end(edit_form) }}
                        </td>
                        <td>
                            <a href="{{ path('client_index') }}">
                                <button type="button" class="btn btn-xs btn-success">
                                    {{ 'button.edit.list' | trans }}
                                </button>
                            </a>
                        </td>
                        <td>
                            {{ form_start(delete_form) }}
                            <input class="btn btn-xs btn-danger" type="submit" value="
                                    {{ 'button.edit.delete' | trans }}
                                ">
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
