{% extends 'base.html.twig' %}

{% block body %}
    {% include 'top_menu.html.twig' %}
<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    {% trans %}
                        label.client.list
                    {% endtrans %}
                </h4>
            </div>
            <div class="panel-body">

                <ul class="list-inline">
                    <li>
                        <a href="{{ path('client_new') }}">
                            <button type="button" class="btn btn-xs btn-info">
                                {% trans %}
                                    button.client.new
                                {% endtrans %}
                            </button>
                        </a>
                    </li>
                </ul>

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>

                        <th>
                            {% trans %}
                                label.company
                            {% endtrans %}
                        </th>
                        <th>
                            {% trans %}
                                label.client.name
                            {% endtrans %}
                        </th>

                        <th>
                            {% trans %}
                                label.vatid
                            {% endtrans %}
                        </th>
                        <th>
                            {% trans %}
                                label.address.city
                            {% endtrans %}
                        </th>
                        <th>
                            {% trans %}
                                label.address.country
                            {% endtrans %}
                        </th>

                        <th class="td-center">
                            {% trans %}
                                label.actions
                            {% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td>
                                <a href="{{ path('client_show', { 'id': client.id }) }}">
                                    {{ client.companyName }}
                                </a>
                            </td>

                            <td>{{ client.clientName }}</td>

                            <td>{{ client.vatId }}</td>

                            <td>{{ client.addressCity }}</td>
                            <td>{{ client.addressCountry }}</td>

                            <td class="td-center">
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ path('client_show', { 'id': client.id }) }}">
                                            <button type="button" class="btn btn-xs btn-success">
                                                {% trans %}
                                                    button.client.show
                                                {% endtrans %}
                                            </button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('client_edit', { 'id': client.id }) }}">
                                            <button type="button" class="btn btn-xs btn-info">
                                                {% trans %}
                                                    button.client.edit
                                                {% endtrans %}
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% endblock %}
