{% extends 'base.html.twig' %}

{% block body %}

    {% include 'top_menu.html.twig' %}

    {% block invoice %} {# TEMPLATE START #}

        <div class="row show-grid">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-6">
                            {{ 'invoice.header' | trans }}
                            <b>{{ invoice.invoiceNumberPrefix }}{{ invoice.invoiceNumber }}</b>
                        </div>

                        <div class="col-xs-6 text-right">
                            {{ form_start(form_delete) }}
                            <input class="btn btn-xs btn-danger" type="submit"
                                   value="{{ 'button.edit.delete' | trans }}">
                            {{ form_end(form_delete) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        {# COLUMN LEFT #}
                        <div class="col-xs-6">

                            {{ form_start(form_edit) }}
                            {# hide invoice number #}
                            <div class="hidden">
                                {{ form_widget(form_edit.invoiceNumber, { 'attr': {'class': 'hidden-row'} }) }}
                                {{ form_widget(form_edit.isInvoiceNet, { 'attr': {'class': 'hidden-row'} }) }}
                            </div>
                            {#invoice dates#}
                            <table class="table-condensed table-bordered table-responsive">
                                <tr>
                                    <th class="small text-center">{{ 'label.date_of_issue' | trans }}</th>
                                    <th class="small text-center">{{ 'label.date_of_sell' | trans }}</th>
                                    <th class="small text-center">{{ 'label.payment_due' | trans }}</th>
                                </tr>
                                <tr>
                                    <td>{{ form_widget(form_edit.dateOfIssue, { 'attr': {'class': 'ie-dates'} }) }}</td>
                                    <td>{{ form_widget(form_edit.dateOfSell) }}</td>
                                    <td>{{ form_widget(form_edit.paymentDue) }}</td>
                                </tr>
                            </table>


                            {{ 'invoice.seller' | trans }}
                            <div>
                                <b>{{ user.userName }}</b>
                            </div>
                            <div>
                                <b>{{ user.companyName }}</b>
                            </div>
                            <div>
                                <b> {{ user.addressStreet }}
                                    {% if user.addressFlat|length > 0 %}
                                        {{ user.addressHouse }}/{{ user.addressFlat }}
                                    {% else %}
                                        {{ user.addressHouse }}
                                    {% endif %}
                                </b>
                            </div>
                            <div>
                                <b>{{ user.addressZip }} {{ user.addressCity }}</b>
                            </div>
                            <div>
                                {{ 'label.vatid' | trans }} <b>{{ user.vatID }}</b>
                            </div>
                        </div>

                        {# COLUMN RIGHT #}
                        <div class="col-xs-6">

                            {{ 'invoice.buyer' | trans }}
                            {#{{ form_widget(form_edit) }}#}
                            <table class="table-condensed table-bordered table-responsive">
                                <tr>
                                    <th class="small"> {{ 'label.client.name' | trans }}</th>
                                    <td> {{ form_widget(form_edit.clientName) }}</td>
                                </tr>
                                <tr>
                                    <th class="small">{{ 'label.company.name' | trans }}</th>
                                    <td> {{ form_widget(form_edit.companyName) }}</td>
                                </tr>
                                <tr>
                                    <th class="small">{{ 'label.vatid' | trans }}</th>
                                    <td>  {{ form_widget(form_edit.vatId) }}</td>
                                </tr>
                                <tr>
                                    <th class="small">{{ 'label.address.street' | trans }}</th>
                                    <td>{{ form_widget(form_edit.addressStreet) }}</td>
                                    <td>{{ form_widget(form_edit.addressHouse, { 'attr': {'class': 'ie-house'} }) }}</td>
                                    <td> /</td>
                                    <td>{{ form_widget(form_edit.addressFlat, { 'attr': {'class': 'ie-flat'} }) }}</td>
                                </tr>
                                <tr>
                                    <th class="small"> {{ 'label.address.zip' | trans }}</th>
                                    <td>{{ form_widget(form_edit.addressZip) }}</td>
                                </tr>
                                <tr>
                                    <th class="small">{{ 'label.address.city' | trans }}</th>
                                    <td>{{ form_widget(form_edit.addressCity) }}</td>
                                </tr>
                                <tr>
                                    <th class="small">{{ 'label.address.country' | trans }}</th>
                                    <td>{{ form_widget(form_edit.addressCountry) }}</td>
                                </tr>
                                <tr>
                                    <th class="small">{{ 'label.edit.client.change' | trans }}</th>
                                    <td> {{ form_widget(form_edit.client) }}</td>
                                </tr>
                            </table>
                        </div>

                        <div>
                            <input class="btn btn-xs btn-info" type="submit" value="
                                    {{ 'button.edit.submit.change' | trans }}
                                "/>
                            {# BUTTONS - delete invoice, submit changes#}
                            {{ form_end(form_edit) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form_products) }}
                        {{ 'label.product' | trans }}
                        {{ form_widget(form_products.product) }}
                        <input class="btn btn-xs btn-info" type="submit"
                               value="{{ 'button.invoice.element.add' | trans }}">
                        {{ form_end(form_products) }}
                    </div>
                </div>
            </div>
        </div>

        {# check if invoice elements exists and display them#}
        {% if form_invoice_elements.invoiceElements.children | length > 0 %}
            <div class="row show-grid">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div id="invoice_elements">
                                <table class="table-condensed table-bordered table-responsive elements">
                                    <tr>
                                        <th class="small text-center">#</th>
                                        <th class="small text-center">{{ 'label.product.name' | trans }}</th>
                                        <th class="small text-center">{{ 'label.product.pkwiu' | trans }}</th>
                                        <th class="small text-center">{{ 'label.product.unit' | trans }}</th>
                                        <th class="small text-center">{{ 'label.product.quantity' | trans }}</th>
                                        <th class="small text-center">{{ 'label.product.priceNet' | trans }}</th>

                                        {# valueNet - calulate#}
                                        <th class="small text-center">{{ 'label.product.valueNet' | trans }}</th>

                                        <th class="small text-center">{{ 'label.product.vat' | trans }}</th>

                                        {# valueVat - calulate#}
                                        <th class="small text-center">{{ 'label.product.valueVat' | trans }}</th>

                                        {# valueGross - calulate#}
                                        <th class="small text-center">{{ 'label.product.valueGross' | trans }}</th>

                                        <th class="small text-center">  {{ 'label.actions' | trans }}</th>

                                    </tr>

                                    {{ form_start(form_invoice_elements) }}
                                    {% set counter = 1 %}
                                    {% for elem in form_invoice_elements.invoiceElements %}
                                        {% set valueNet = elem.vars.value.amount * elem.vars.value.priceNet %}
                                        {% set valueVat = valueNet * elem.vars.value.vatRate / 100 %}
                                        {% set valueGross = valueNet + valueVat %}
                                        <tr>
                                            <td class="ie-index">{{ counter }}</td>
                                            <td>{{ form_widget(elem.name, { 'attr': {'class': 'ie-name'} }) }}</td>
                                            <td>{{ form_widget(elem.pkwiuCode, { 'attr': {'class': 'ie-pkwiu'} }) }}</td>
                                            <td>{{ form_widget(elem.unit, { 'attr': {'class': 'ie-unit'} }) }}</td>
                                            <td>{{ form_widget(elem.amount, { 'attr': {'class': 'ie-quantity'} }) }}</td>
                                            <td>{{ form_widget(elem.priceNet, { 'attr': {'class': 'ie-price'} }) }}</td>
                                            <td class="td-right">{{ valueNet |number_format(2) }}</td>
                                            <td>{{ form_widget(elem.vatRate, { 'attr': {'class': 'ie-vat'} }) }}</td>
                                            <td class="td-right">{{ valueVat |number_format(2) }}</td>
                                            <td class="td-right">{{ valueGross |number_format(2) }}</td>
                                            {#<td class="elements-action"></td>#}
                                        </tr>
                                        {% set counter = counter + 1 %}
                                    {% endfor %}
                                </table>
                                <table class="table-button">
                                    <tr><td>
                                    <input class="btn btn-xs btn-info" type="submit"
                                           value="{{ 'button.invoice.element.update' | trans }}">
                                        </td></tr>
                                </table>
                                {{ form_end(form_invoice_elements) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row show-grid">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5>{{ 'invoice.summary.title' | trans }}</h5>
                        </div>
                        <div class="panel-body">

                            <table class="table-condensed table-bordered table-responsive">
                                <tr>
                                    <th class="small text-center">{{ 'invoice.summary.vat_rate' | trans }}</th>
                                    <th class="small text-center">{{ 'invoice.summary.val.net' | trans }}</th>
                                    <th class="small text-center">{{ 'invoice.summary.val.vat' | trans }}</th>
                                    <th class="small text-center">{{ 'invoice.summary.val.gross' | trans }}</th>
                                </tr>

                                {% for key, value in invoice_summary %}
                                    <tr>
                                    <td>{{ key }}</td>
                                    {% for val in value %}
                                        <td class="td-right">{{ val |number_format(2) }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}

                            </table>



                        </div>
                    </div>
                </div>
            </div>


        {% endif %}

    {% endblock %} {# TEMPLATE END #}

{% endblock %}