{% extends 'base.html.twig' %}

{% block body %}

    {% include 'top_menu.html.twig' %}

    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        {{ 'label.invoice.edit' | trans }}
                    </h4>
                </div>
                <div class="panel-body">
                    {{ form_start(edit_form) }}
                    <table class="table table-hover table-responsive table-condensed">
                        <tr>
                            <th>
                                {{ 'label.invoice' | trans }}
                            </th>
                            <td >
                                {{ form_widget(edit_form.invoiceNumber) }}
                            </td>
                        </tr>
                        <tr>
                            <th >
                                {{ 'label.date_of_issue' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.dateOfIssue) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.date_of_sell' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.dateOfSell) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.payment_due' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.paymentDue) }}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                {{ 'label.client.name' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.clientName, { 'attr': {'style': 'width: 300px'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.company.name' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.companyName, { 'attr': {'style': 'width: 300px'} }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.vatid' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.vatId) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.address.street' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.addressStreet) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.address.house' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.addressHouse) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.address.flat' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.addressFlat) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.address.zip' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.addressZip) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.address.city' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.addressCity) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.address.country' | trans  }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.addressCountry) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.edit.client.change' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.client) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{ 'label.invoice.isnet' | trans }}
                            </th>
                            <td>
                                {{ form_widget(edit_form.isInvoiceNet) }}
                            </td>
                        </tr>
                    </table>
                    <table class="table-button">
                        <tr>
                            <td>
                                <input class="btn btn-xs btn-info" type="submit" value="
                                    {{ 'button.edit.submit.change' | trans }}
                                "/>
                                {{ form_end(edit_form) }}
                            </td>
                            <td>
                                <a href="{{ path('invoice_index') }}">
                                    <button type="button" class="btn btn-xs btn-success">
                                        {{ 'button.edit.list' | trans }}
                                    </button>
                                </a>
                            </td>
                            <td>
                                {{ form_start(delete_form) }}
                                <input class="btn btn-xs btn-danger" type="submit" value="
                                    {{ 'button.edit.delete' | trans }}
                                ">
                                {{ form_end(delete_form) }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
