{% extends 'base.html.twig' %}

{% block body %}

    {% include 'top_menu.html.twig' %}

    {% block invoice %} {# TEMPLATE START #}

        <div class="row show-grid">

            <div class="col-xs-12">
                {{ 'invoice.header' | trans }} <b>{{ invoice.invoiceNumberPrefix }}{{ invoice.invoiceNumber }}</b>
            </div>

            <div class="col-xs-6">
                {{ 'invoice.seller' | trans }}
                <div>
                    <b>{{ user.userName }}</b>
                </div>
                <div>
                    <b>{{ user.companyName }}</b>
                </div>
                <div>
                    <b> {{ user.addressStreet }}
                        {% if user.addressFlat|length > 0 %}
                            {{ user.addressHouse }}/{{ user.addressFlat }}
                        {% else %}
                            {{ user.addressHouse }}
                        {% endif %}
                    </b>
                </div>
                <div>
                    <b>{{ user.addressZip }} {{ user.addressCity }}</b>
                </div>
                <div>
                    {{ 'label.vatid' | trans }} <b>{{ user.vatID }}</b>
                </div>


            </div>
            <div class="col-xs-6">
                {{ 'invoice.buyer' | trans }}
                <div>
                    <b> {{ invoice.clientName }}</b>
                </div>
                <div>
                    <b>{{ invoice.companyName }}</b>
                </div>
                <div>
                    <b> {{ invoice.addressStreet }}
                        {% if invoice.addressFlat|length > 0 %}
                            {{ invoice.addressHouse }}/{{ invoice.addressFlat }}
                        {% else %}
                            {{ invoice.addressHouse }}
                        {% endif %}
                    </b>
                </div>
                <div>
                    <b>{{ invoice.addressZip }} {{ invoice.addressCity }}</b>
                </div>
                <div>
                    {{ 'label.vatid' | trans }} <b>{{ invoice.vatID }}</b>
                </div>


            </div>

        </div>

        {##}
        {% if form.elements.children | length > 0 %}
            <hr>
            <div id="invoice_elements">
                <table class="table-condensed table-striped table-bordered table-hover table-responsive">
                    <tr>
                        <th class="small text-center">#</th>
                        <th class="small text-center">{{ 'label.product.name' | trans }}</th>
                        <th class="small text-center">{{ 'label.product.pkwiu' | trans }}</th>
                        <th class="small text-center">{{ 'label.product.unit' | trans }}</th>
                        <th class="small text-center">{{ 'label.product.quantity' | trans }}</th>
                        <th class="small text-center">{{ 'label.product.priceNet' | trans }}</th>

                        {# valueNet - calulate#}
                        <th class="small text-center">{{ 'label.product.valueNet' | trans }}</th>

                        <th class="small text-center">{{ 'label.product.vat' | trans }}</th>

                        {# valueVat - calulate#}
                        <th class="small text-center">{{ 'label.product.valueVat' | trans }}</th>

                        {# valueGross - calulate#}
                        <th class="small text-center">{{ 'label.product.valueGross' | trans }}</th>

                    </tr>

                    {{ form_start(form) }}
                    {% set counter = 1 %}
                    {% for elem in form.elements %}
                        {% set valueNet = elem.vars.value.amount * elem.vars.value.priceNet %}
                        {% set valueVat = valueNet * elem.vars.value.vatRate / 100 %}
                        {% set valueGross = valueNet + valueVat %}
                        <tr>
                            <td class="ie-index">{{ counter }}</td>
                            <td>{{ form_widget(elem.name, { 'attr': {'class': 'ie-name'} }) }}</td>
                            <td>{{ form_widget(elem.pkwiuCode, { 'attr': {'class': 'ie-pkwiu'} }) }}</td>
                            <td>{{ form_widget(elem.unit, { 'attr': {'class': 'ie-unit'} }) }}</td>
                            <td>{{ form_widget(elem.amount, { 'attr': {'class': 'ie-quantity'} }) }}</td>
                            <td>{{ form_widget(elem.priceNet, { 'attr': {'class': 'ie-price'} }) }}</td>
                            <td class="td-right">{{ valueNet |number_format(2) }}</td>
                            <td>{{ form_widget(elem.vatRate, { 'attr': {'class': 'ie-vat'} }) }}</td>
                            <td class="td-right">{{ valueVat |number_format(2) }}</td>
                            <td class="td-right">{{ valueGross |number_format(2) }}</td>

                        </tr>
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </table>
                <input type="submit" value="Submit"/>
                {{ form_end(form) }}
            </div>
            <hr>
        {% endif %}

    {% endblock %} {# TEMPLATE END #}

{% endblock %}