{% extends 'base.html.twig' %}

{% block body %}

    {% include 'top_menu.html.twig' %}

    <h1>Invoice</h1>

    <table>
        <tbody>
        <tr>
        </tr>
        <tr>
            <th>Invoice number</th>
            <td>{{ invoice.invoiceNumberPrefix }}{{ invoice.invoiceNumber }}</td>
        </tr>
        <tr>
            <th>Date of issue</th>
            <td>{% if invoice.dateOfIssue %}{{ invoice.dateOfIssue|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Date of sell</th>
            <td>{% if invoice.dateOfSell %}{{ invoice.dateOfSell|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Payment due</th>
            <td>{% if invoice.paymentDue %}{{ invoice.paymentDue|date('Y-m-d') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Client name</th>
            <td>{{ invoice.clientName }}</td>
        <tr>

        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoice_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('invoice_edit', { 'id': invoice.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
